<div >
    <div class="w3-light-grey w3-padding-large w3-padding-32 " style="margin: 10%; margin-top:2%;" id="contact">
      <h4 class="w3-center">טופס רשמה לאקתון פעיל</h4>
      <hr>
      
    <div>
         <div class="w3-section r">
          <label>שם פרטי</label>
          <input class="w3-input w3-border" type="text" required name="name">
        </div>
        <div class="w3-section r">
            <label>שם משפחה</label>
            <input class="w3-input w3-border" type="text" required name="name">
          </div>
        <div class="w3-section r">
          <label>טלפון</label>
          <input class="w3-input w3-border" type="text" required name="text">
        </div>
        <div class="w3-section r" >
          <label>מוסד לימודים</label>
          <input class="w3-input w3-border" type="text" required name="text">
        </div>
          <form>
            <textarea class="rtl">ספר לי על עצמך...</textarea>
          </form>
          </div>
          
         
        <button type="submit" class="w3-button w3-block w3-dark-grey">הרשמה</button>
     
    </div>
    </div>
