
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  
<div >
<div class="w3-light-grey w3-padding-large w3-padding-32" style="margin: 10%; margin-top: 2%;" id="contact">
  <h4 class="w3-center">פרסום אקתון חדש</h4>
  <hr>
  
<div>
     <div class="w3-section r">
      <label>שם פרטי</label>
      <input class="w3-input w3-border" type="text" required name="name">
    </div>
    <div class="w3-section r">
        <label>שם משפחה</label>
        <input class="w3-input w3-border" type="text" required name="name">
      </div>
    <div class="w3-section r">
      <label>טלפון</label>
      <input class="w3-input w3-border" type="text" required name="name">
    </div>
    <div class="w3-section r" >
      <label>מייל</label>
      <input class="w3-input w3-border" type="text" required name="Email">
    </div>
    <div class="w3-section r" >
        <label>שם החברה</label>
        <input class="w3-input w3-border" type="text" required name="name">
      </div>
      <div class="w3-section r" >
        <label>העלה את לוגו החברה</label>
        <input class="w3-input w3-border" type="file" required name="file">
      </div>

<form>
  <textarea class="rtl">ספר לי על המיזם שלך...</textarea>
</form>
<div  class="fff">
  <h4>:מלא את פרסי הזוכים</h4>
    
    <label for="fname">במקום הראשון</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">במקום השני</label><br>
    <input type="text" id="lname" name="lname">
    <br>
    <label for="fname">במקום השלישי</label><br>
  
    <input type="text" id="fname" name="fname"><br>
    <br><br>
  </div>
  <button type="submit" class="w3-button w3-block w3-dark-grey">שליחת המיזם לאישור</button>

</div>
      </div>
     
</div>
 

