<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- מלל קצר על האפליקציה -->
<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
  <img src="../../assets/images/pic2.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style=" width:70%; margin-left: 20%;">
 </div>
 <div class="w3-col m6 w3-padding-large">
   <h1 class="w3-center w3-jumbo w3-text-black w3-hide-small" style="font-size: xx-large;">למה כדאי לקחת חלק במיזם</h1><br>
   <h5 class="w3-center"> מלל אודות  </h5>
</div>
</div>
 <div class="w3-row-padding"> 

  <!-- שות -->
  <div class="w3-container  w3-white">
      <p style="font-size:60px;"class="w3-wide"> שאלות ותשובות נפוצות</p>
  </div>
  <div class="w3-container" style="padding-right:10%;padding-left: 10%;" >
  <div id="Q&A" >
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <!-- <h2 class="mb-0"> -->
           <button class="btn text-center"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           ? איך מחושב סכום ההשתתפות בהוצאות הנסיעה 
           <br>
           <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          <!-- </h2> -->
        </div>
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            סכום ההשתתפות נקבע על ידי הנהג. בכל נסיעה המערכת מחשבת עבור הנהג סכום השתתפות מומלץ ומקסימאלי בהתאם לאורך הנסיעה בק”מ. הנהג יכול לבחור האם להציע מחיר נמוך או גבוה מהמחיר המומלץ (עד למחיר המקסימום). בדרך כלל, סכום ההשתתפות המוצע דומה למחיר נסיעה מקבילה בתחבורה ציבורית.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ? האם ניתן לדרג את הנוסעים ו/או את הנהגים 
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            כן. מעצם העובדה שמדובר בקהילה משותפת, אנחנו מאפשרים לכל אחד מהצדדים לדרג את הצד השני, בתום הנסיעה (הדירוגים מופיעים לצד פרופיל המשתמש באפליקציה, למען הנוחות). הציון הגבוה ביותר שאתה, כנהג או כנוסע, יכול לקבל הוא 5 כוכבים (זה אומר שאתה אחלה נהג או נוסע, כל הכבוד לך!) ואילו הציון הנמוך ביותר הוא של כוכב אחד. שימו לב, מכיוון שאנחנו שואפים לייצר חווית נסיעה נעימה וטובה לכל חברי הקהילה, נוסעים ונהגים בעלי דירוג נמוך לא יוכלו להשתמש בשירות…
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             ? איך אני מוצא נסיעה שיתופית
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            יותר פשוט מזה, אין…מבטיחים! 
            היכנס לאפליקציית טודרייב,
            <br>
             לחץ על “רוצה לנסוע” במסך חיפוש הנסיעה הזן את כתובת המוצא וכתובת היעד שלך ולחץ על “חפש מסלול”. במידה שקיימת נסיעה רלוונטית למסלול שחיפשת, תוכל לראותה בחלק התחתון של המסך. כל מה שאתה צריך לעשות זה רק לחפש ברשימת הנסיעות המוצעות.  
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            ? איך אני מציע נסיעה
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            היכנס לאפליקציית טודרייב,
             לחץ על “רוצה לנהוג” במסך הגדרת הנסיעה הזן את כתובת המוצא וכתובת היעד שלך ולחץ על “הגדר נסיעה”.במידה וקיים חיפוש נסיעה התואם לנסיעה שהגדרת, תוכל לראותה בחלק התחתון של המסך.ולהציע שישתתף בנסיעה. 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            ? איך אני מבטל/משנה נסיעה
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            היכנס למסך פרטי הנסיעה וערוך את פרטיה בהתאם לצורך. שים לב כי תוכל לבצע שינויים עבור נסיעה ספציפית אחת או עבור כל הנסיעות הקיימות במערכת.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- אודות -->
 <section id="about" >
  <div style="height:400px;width:100%;margin-top: 5%;">
    <div class="card-container" style="float: right; height:400px; margin-left: 0.5%; width:49%;">
      <div class="container">
        <img src="../../assets/images/up.svg" alt="Snow" style="width:100%;">
           <div class="centered">
             <a href="#">יש לי מיזם להציע</a>
            </div>
      </div>
     </div>
     <div class="card-container" style="float: right; height:400px; margin-left: 0.5%; width:49%; margin-top: 7%;">
      <div class="container">
        <img src="../../assets/images/d.svg" alt="Snow" style="width:100%;">
           <div class="centered">
             <a href="#">רוצה להשתתף במיזם</a>
            </div>
      </div>
     </div>
   </div> 
 </section>
</div>
<!--ניוזלטר -->
<div class="w3-white w3-margin" style="padding-left: 10%;padding-right: 10%;padding-top:5%;">
  <div class="w3-container w3-padding w3-black">
    <h4 style="text-align: center;">השאר מעודכן</h4>
  </div>
  <div class="w3-container w3-white text-center">
    <!-- <p style="text-align: center;">קבל ממנו עידכונים</p> -->
    <p><input class="w3-input w3-border" type="text" placeholder="😊כתובת המייל שלך" style="width:100%;text-align: center;"></p>
    <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block " style="background-color: rgb(14, 150, 192);" data-toggle="modal" data-target="#myModal">אישור</button></p>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"> 
      <!-- Modal Header -->
      <!-- class="modal-header" -->
        <div >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h2 style="text-align: center;">!נרשמת בהצלחה</h2>
       </div>
      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="modal-title"style="text-align: center;" > מעכשיו תהיה מעודכן בכל מה שחדש</h4> 
        <img src="../../assets/images/newsletter1.svg"style="width:100%">
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="margin-right: 80%;" data-dismiss="modal">לסגור</button>
      </div>
      
    </div>
  </div>
</div>



